gameobject_rotation_scale_through_finger/ios
gameobject_rotation_scale_through_finger/Library
gameobject_rotation_scale_through_finger/Logs
gameobject_rotation_scale_through_finger/obj
gameobject_rotation_scale_through_finger/Temp
gameobject_rotation_scale_through_finger/gameobject_rotation_scale_through_finger.sln
gameobject_rotation_scale_through_finger/Assembly-CSharp.csproj
gameobject_rotation_scale_through_finger/.vs
